
<!-- layout() -> ek method hai na ki folder name -->
<% layout('layouts/boylerplate')%>

<%- include('../partials/navbar') %>

<div class="row">

    <% for(let item of products){ %>
        <!-- Bootstrap se jakr normal card copy kar diya hai -->
        <div class="col-lg-4 mt-3">
        <div class="card shadow mx-auto" style="width: 18rem;">
            <img src="<%=item.img%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"><%=item.name%></h4>
              <h6 class="card-title"><%=item.price%></h6>
              <p class="card-text"><%=item.desc%></p>
              <a href="/products/<%=item._id%>" class="btn btn-primary">View Product</a>
            </div>
          </div>
        </div>
    <% } %>
</div>
        
</body>

</html>